:root {
  --mainOrange: rgb(244, 129, 87);
  --darkOrange: rgb(240, 88, 23);
  --lightOrange: rgb(243, 169, 142);
  --mainPurple: rgb(57, 79, 184);
  --mainGreen: rgb(19, 155, 119);
  --lightGreen: rgb(96, 172, 151);
  --darkGreen: rgb(13, 95, 21);
  --mainFuschia: rgb(172, 16, 143);
  --kanitFont: "Kanit", sans-serif;
}

body {
  /* margin: 0;
  top: 0;
  width: 100vw;
  height: 100vh; */
  background-position: center;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.orange-text {
  color: var(--mainOrange);
}

.dark-orange-text {
  color: var(--darkOrange);
}

.light-orange-text {
  color: var(--lightOrange);
}

.big-text {
  font-size: 50px;
}

/* ///////////
***NAVBAR***
////////// */
.navbar {
  color: white;
  height: 5rem;
  display: flex;
  margin-top: 0.35rem;
}

.navbar-header {
  margin-left: 1.2rem;
  font-size: 1.5rem;
  font-family: "Press Start 2P", cursive;
}

.nav-span {
  color: var(--mainOrange);
}

.nav-links {
  display: flex;
  font-family: "Raleway", sans-serif;
  margin-bottom: 2rem;
}
.nav-links a {
  text-transform: capitalize;
  text-decoration: none;
  font-weight: bold;
  margin-right: 0.5rem;

  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  color: white;
  transition: all 0.3s linear;
}

.nav-links a:hover {
  color: var(--mainOrange);
}

.nav-two-span {
  color: var(--mainPurple);
}

.nav-two-links {
  display: flex;
  font-family: "Raleway", sans-serif;
  margin-bottom: 2rem;
}
.nav-two-links a {
  text-transform: capitalize;
  text-decoration: none;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  color: white;
  transition: all 0.3s linear;
}

.nav-two-links a:hover {
  color: var(--mainPurple);
}

.nav-three-span {
  color: var(--mainGreen);
}

.nav-three-links {
  display: flex;
  font-family: "Raleway", sans-serif;
  margin-bottom: 2rem;
  padding-right: 0.75rem;
}
.nav-three-links a {
  text-transform: capitalize;
  text-decoration: none;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  color: white;
  transition: all 0.3s linear;
}

.nav-three-links a:hover {
  color: var(--mainGreen);
}
.nav-four-span {
  color: var(--mainFuschia);
}

.nav-four-links {
  display: flex;
  font-family: "Raleway", sans-serif;
  margin-bottom: 2rem;
}
.nav-four-links a {
  text-transform: capitalize;
  text-decoration: none;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  color: white;
  transition: all 0.3s linear;
}

.nav-four-links a:hover {
  color: var(--mainFuschia);
}

/* HOME PAGE */

.home-bg {
  background: url("./images/mars-ring.jpg") no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.home-intro {
  font-family: var(--kanitFont);
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 7rem;
  margin-left: 5rem;
  color: white;
}

.home-info {
  font-family: var(--kanitFont);
  width: 35vw;
}

.home-btn {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.3rem;
  transition: all 0.3s linear;
  background-color: var(--lightOrange);
}

.home-btn:hover {
  background-color: var(--mainOrange);
  border: 1px solid white;
  color: white;
}

/* ABOUT */

.about-bg {
  background: url("./images/stars-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  position: absolute;
  overflow-x: hidden;
}

.resume-image {
  height: 40rem;
  margin: 2rem;
  border: 1px solid var(--mainPurple);
  outline: 2px solid var(--mainPurple);
  outline-offset: 10px;
}

.about-info {
  font-family: var(--kanitFont);
  background-color: rgba(0, 0, 0, 0.55);
  padding: 1rem;
  height: fit-content;
  color: white;
  /* font-weight: bold; */
  margin: 2rem;
  display: flex;
  justify-items: end;
  text-align: end;
  align-items: flex-end;
  flex-direction: column;
}

.about-p {
  font-size: 15px;
}

/* PORTFOLIO */
.projects-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/green-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100%;
  position: absolute;
  overflow-x: hidden;
}

.project-image {
  height: 50vh;
  width: 100%;
  border: 1px solid black;
}

.project-section {
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  border: 1px dotted white;
  border-radius: 5px;
  width: 50vw;
  padding: 1.2rem;
  font-family: var(--kanitFont);
}

.project-titles {
  color: var(--mainGreen);
  font-weight: bold;
}

.project-links a {
  color: var(--lightGreen);
  transition: all 0.3s linear;
}
.project-links a:hover {
  color: white;
}

iframe {
  width: 100%;
  height: 275px;
}

/* ERROR */
.error-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("./images/lost-astro.jpg");
  /* background: url("./images/lost-astro.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100%;
  position: absolute;
  overflow-x: hidden;
}

/* CONTACT PAGE */
.contact-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/pink-galaxy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  min-height: 100%;
  position: absolute;
  overflow-x: hidden;
}

.contact-info {
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  width: fit-content;
  padding: 2rem;
  font-family: var(--kanitFont);
  border: 1px dotted white;
  border-radius: 5px;
  text-align: center;
  margin-top: 2rem;
}

.contact-links {
  text-decoration: none;
  transition: all 0.3s linear;
  color: white;
}

.contact-links:hover {
  color: var(--mainFuschia);
}
